@charset "utf-8";
@import "susy";
@import "font-awesome";

$headline: 'Oswald', Helvetica, sans;
$body: 'PT Mono', Verdana, sans;
$black: #222;
$white: #fff;
$bright: #9963FF;
$bright-secondary: #f2bc35;


$susy: (
  columns: 12,
  gutters: 1/3,
  math: fluid,
  output: float,
  gutter-position: before,
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

* {  
  -webkit-font-smoothing: antialiased; 
  box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  font: inherit; 
  vertical-align: baseline;
  font-family: $body;
  color: $black;
}

h1 {
	font-family: $headline;
	text-transform: uppercase;
	font-size: 50px;
	line-height: 1em;
	padding-top: 20px;
}

h2 {
	font-size: 18px;
	line-height: 2em;
	&.voter-name {
		margin-top: 50px;
	}
}

h3 {
	width: 100%;
	background: $black;
	padding: 20px;
	color: white;
	border-bottom: 1px solid white;
	cursor: pointer;
}

h4 {
	font-family: $headline;
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 20px;
}

p {
	margin-top: 20px;
	line-height: 2em;
}

a {
	color: $bright;
	&:hover {
		color: $bright-secondary;
	}
}

.container {
	@include container(600px);
	@include pad(1);
	padding-bottom: 80px;
	padding-top: 50px;
}

input, button {
	padding: 20px;
	font-size: 14px;
	background: $white;
	display: inline-block;
}

#enter-candidate {
	width: 80%;
	margin-top: 50px;
}

input.voter-name {
	width: 100%;
}

button {
	border: 2px solid $black;
	&.add {
		width: 18%;
		float: right;
		margin-top: 50px;
	}
	&.vote,
	&.create {
		background-color: $bright-secondary;
		color: $white;
		border: none;
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 100;
	}
	&:hover {
		background: $black;
		color: $white;
	}
}

ul {
	margin-top: 50px;
}

li {
	background: $bright;
	color: white;
	margin-bottom: 2px;
	&:hover {
		cursor: -webkit-grab;
	}
	&:active {
		cursor: -webkit-grabbing;
	}
}

html, body {
	width: 100%;
	height: 100%;
	display: table;
}

.create-a-poll,
.vote-on-poll {
	height: 100%;
	width: 50%;
	color: $white;
	display: table-cell;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-family: $headline;
	font-size: 26px;
	&:hover {
		background-color: $black;
	}
}

.create-a-poll {
	background-color: $bright;
}

.vote-on-poll {
	background-color: $bright-secondary;
}

.ui-state-highlight { 
	height: 60px;
	line-height: 1.2em;
	background-color: $bright-secondary; 
}

.remove-candidate, 
.candidate-name {
	display: inline-block;
}

.candidate-name {
	padding: 20px;
	color: $white;
}

.remove-candidate {
	float: right;
	span {
		@extend .fa;
		@extend .fa-times;
		color: $white;
		cursor: pointer;
		padding: 21px;
		&:hover {
			background-color: $black;
		}
	}
}