---
title: Coming soon
---

.container
	%a{:href => "/create.html"} Go Create
	%h1 Rank candidates by preference

	%h2.voter-name What's your name?
	%input.voter-name

	%ul#sortable
		%li.default
			.candidate-name Obama
		%li.default
			.candidate-name Bill
		%li.default
			.candidate-name Your Mum

	%button.vote Vote							

